<div class="section-image icon-pb" >
	<%= image_tag "logo_pb_light.svg", width: "100px"%>
</div>
<h1 class="section-header">I Can Help</h1>
<p></p>				
<p>Whether you're ready to tackle your dream project, or just need some help building a neat little website, I would love to make it happen.</p>
<p>Get in touch with me if you'd like my help, or if you think I'd be a good fit at your company.</p>				
<div id="contact-wrapper">
	<a href="mailto:brombropaul@gmail.com?subject=Hello!" target="_top" class="email-me">
		<svg class="icon icon-email"></svg> Message Me
	</a>
	<a href="img/BromPaul_Resume.pdf" download="BromPaul_Resume" class="email-me">
		<svg class="icon icon-down"></svg> My Resume
	</a>
</div>
<div class="row centered social">
	<a href="http://codepen.io/brombropaul" target="_blank">
		<svg class="icon icon-codepen-white"></svg>
	</a>
	&#8226;
	<a href="https://www.linkedin.com/in/paul-brom-47929982" target="_blank">
		<svg class="icon icon-linkedin-white"></svg>
	</a>
	&#8226;
	<a href="mailto:brombropaul@gmail.com?subject=Hello!" target="_blank">
		<svg class="icon icon-social-email-white"></svg>
	</a>
</div>				
<div class="row centered footer-txt">
	<span>Copyright &#169;2016 Paul Brom. All rights reserved.</span>
</div>