<div id="brain">
	<div class="brain-half brain-right"></div>
	<div class="brain-half brain-left"></div>
</div>
<div id="circle-group">
	<div id="banner-circle-1" class="circle"></div>
	<div id="banner-circle-2" class="circle"></div>
	<div id="banner-circle-3" class="circle"></div>
</div>
<div id="about-me-desc">
	<a href="mailto:brombropaul@gmail.com?subject=Hello!" target="_top" class="speech-border">
		<p>Message Me</p>
	</a>
	<div id="about-me-img" >
		<%= image_tag "dude.png", width: "50px", height: "121px" %>					
	</div>
	<h1 class="section-header">About me</h1>
	<p>I'm an artsy jack-of-all-trades programmer from Chicago, IL.</p>
	<p>I like videogames, cooking, coffee and squats.</p>
	<br>
</div>				
<br>				
<div class="all-banners">
	<div class="banner-container">
		<div id="banner-circle-1" class="circle"></div>
		<div class="banner" id="banner1">
			<h2>Design!</h2>
			<div class="banner-content">
				<span><p>I draft and illustrate simple, clean and professional pages, using modern design, smart typography and handmade graphics.</p><p>Don't just rely on your inner beauty.</p></span>
			</div>
		</div>						
	</div>
	<div class="banner-container">
		<div id="banner-circle-2" class="circle"></div>
		<div class="banner" id="banner2">
			<h2>Front End!</h2>
			<div class="banner-content">
				<span><p>User experience is always paramount. I use the best technologies to develop multi-platform websites and applications.<p>Easy on the eyes, easier on the user.</p></span>
			</div>
		</div>
	</div>
	<div class="banner-container">
		<div id="banner-circle-3" class="circle"></div>
		<div class="banner" id="banner3">
			<h2>Software!</h2>
			<div class="banner-content">
				<span><p>I love the entire development cycle - brainstorming, designing, protoyping, coding, debugging - there's nothing quite like it.</p><p>Let's create something together!</p></span>
			</div>
		</div>
	</div>
</div>