<div class="section-image" >
	<%= image_tag "coffee.svg", width: "100px"%>
</div>
<h1 class="section-header">Recent Work</h1>
<p>Some recent websites and other projects.</p>
<ul class="work-grid">
	<li class="work-grid-element open">		
		<%= image_tag "rbc_screen.png", width: "650px"%>
		<div class="element-banner">
			<svg class="icon icon-carrot-up carrot"></svg>
			<h2>RBClassics</h2>
			<p class="element-desc"><a href="https://www.rbclassics.com" target="_blank">Visit the site</a>&nbsp;&nbsp;A small, stylish ecommerce website built using the osCommerce Online Merchant 2.4 framework.</p>
		</div>

	</li>
	<li class="work-grid-element">
		<%= image_tag "gff_screen.png", width: "650px"%>
		<div class="element-banner">
			<svg class="icon icon-carrot-up carrot"></svg>
			<h2>Global Food Forums</h2>
			<p class="element-desc"><a href="http://www.globalfoodforums.com/store-testing-page" target="_blank">Visit the page</a>&nbsp;&nbsp;Wordpress plugin that pops up a form, collects information, then sends an email with dynamic content.</p>
		</div>
	</li>
	<li class="work-grid-element">
		<%= image_tag "ss_screen.png", width: "650px"%>
		<div class="element-banner">
			<svg class="icon icon-carrot-up carrot"></svg>
			<h2>Signature Slots</h2>
			<p class="element-desc"><a href="http://www.signatureslots.com" target="_blank">Visit the site</a>&nbsp;&nbsp;A NodeJS application that allows private users to review iterations of work in progress.</p>
		</div>
	</li>
</ul>