<div class="section-image" >
	<%= image_tag "bottle.svg", width: "100px"%>
</div>
<h1 class="section-header">Workbench</h1>
<p>A collection of some fun experiments from my <a href="http://codepen.io/brombropaul/" >Codepen</a> profile.</p>
<div class="work-grid">
	<div class="work-grid-element open">
		<p data-height="425" data-theme-id="0" data-slug-hash="NNWwLg" data-default-tab="result" data-user="brombropaul" class="codepen">See the Pen <a href="http://codepen.io/brombropaul/pen/NNWwLg/">Finn Pain Scale</a> by Paul (<a href="http://codepen.io/brombropaul">@brombropaul</a>) on <a href="http://codepen.io">CodePen</a>.</p>
		<script async src="http://assets.codepen.io/assets/embed/ei.js"></script>						
	</div>
	<div class="work-grid-element open">
		<p data-height="435" data-theme-id="0" data-slug-hash="LNGjEr" data-default-tab="result" data-user="brombropaul" class="codepen">See the Pen <a href="http://codepen.io/brombropaul/pen/LNGjEr/">Wheel</a> by Paul (<a href="http://codepen.io/brombropaul">@brombropaul</a>) on <a href="http://codepen.io">CodePen</a>.</p>
		<script async src="//assets.codepen.io/assets/embed/ei.js"></script>
	</div>
	<div class="work-grid-element open">
		<p data-height="425" data-theme-id="0" data-slug-hash="VabjQg" data-default-tab="result" data-user="brombropaul" class="codepen">See the Pen <a href="http://codepen.io/brombropaul/pen/VabjQg/">Forest Spirit</a> by Paul (<a href="http://codepen.io/brombropaul">@brombropaul</a>) on <a href="http://codepen.io">CodePen</a>.</p>
		<script async src="//assets.codepen.io/assets/embed/ei.js"></script>
	</div>
</div>


