<%= render 'header_short' %>
<div class="all-posts" >
	<% @posts.each do |post| %>
		<div class ="post_wrapper">
			<h1 class="title"><%= link_to post.title, post %></h2>
			<p class="body"> 
				<% truncated_body = post.body.truncate_words(20, separator: ' ', omission: '....') %>
				<%= link_to strip_tags(truncated_body), post %>
			</p>
			<% time = post.created_at.strftime("%b, %d, %Y") %>
			<p class="date"><%= link_to time, post %></p>
		</div>
	<% end %>
</div>